{% extends "base.html" %}

{% block content %}
	<h2>About My 3 Pages</h2>
	<p>My 3 Pages is a tool to help anyone who's experiencing a creativity block.  You could be a writer, painter, poet, song-writer or even a programmer like myself.
	I was inspired by Julia Cameron's book, "The Artist's Way" and her suggestion of writing three handwritten pages on any topic every morning.
	
	<p>The only problem for me is that my hand seemed to cramp trying to write quickly and I couldn't always finish my three pages at home.  So I developed this web site so I could
	write my 3 pages anywhere with an Internet browser <b>including mobile devices</b>
	 
	<p>As you type, there will be a counter to show you how many words you've written and your current progress. I found this helped motivate me to complete my 3 pages</p>
	
	<p>So give it a go.  If you are pushed to write 3 pages, try the <a href="/inspiration">inspiration</a> link for ideas.  Good luck!</p>
{% endblock %}