<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>{% block title %}My 3 Pages{% endblock %}</title>
		<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
		<link href="/static/css/main.css" rel=stylesheet>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
		
	</head>
		
	<body>
		<header>
			<div class="navbar">
				<nav id="menu">
					{% if not username %}
					{% set action = "login" %}
					{% set username = "guest" %}
					{% else %}
					{% set action = "logout" %}
					{% endif %}
					<form id="frm1" action="{{ url_for('write_entry') }}" method="get" accept-charset="utf-8">
										{{ form.date_entered }}
					</form>
					<ul>
						<li><a class="logo" href="/">My 3 Pages</a>
							
						<li><a href="#">{{ '[%s]	' % username if username }}</a>
							<ul>
								<li><a href="/{{ action }}">{{ action }}</a></li>
							
							</ul>
						<li><a href="#">write</a>
							<ul>
								<li>
									<!-- This is code allows the client's LOCAL date to be submitted to the server for processing. -->
									
										<a href="#" onclick="document.getElementById('frm1').submit();">write today's entry</a>
									
								<li><a href="/previous_entries">previous entries</a>
								<li><a href="/inspiration">inspiration</a>
							</ul>
							
					
						
						</li>	
						<li><a href="#">about</a>	
							<ul>
								<li><a href="/about">about this site</a>
								<li><a href="/feedback">contact & feedback</a>
							
							</ul>
									
					
					</ul>
					</nav>
					
			</div>
		</header>
		
		<section id="left-sidebar">
			{% if username == 'guest' %}
				<p>Welcome guest! Feel free to write whatever you want and earn stamps on the way!</p>
				
				<p>If you would like to save your entry you will need to <a href="/login">sign in</a> first.</p>
				<p>Happy writing!</p>
			{% else %}   	
				<div>Welcome {{ username }}! Please begin writing.</div>
			{% endif %}
			<br>
			<div id="flashed_messages">
			{% with messages = get_flashed_messages() %}
  			{% if messages %}
    			{% for message in messages %}
    		
    			<div id="message" href=#>{{ message }}</div>
    			
      			
    			{% endfor %}
    		{% endif %}
			{% endwith %}
					
			</div>	
			{% if form.errors %}
	    		<ul id="errors">
	      		{% for field_name, field_errors in form.errors|dictsort if field_errors %}
	            	{% for error in field_errors %}
	                	<li>{{ form[field_name].label }}: {{ error }}</li>
	            	{% endfor %}
	        	{% endfor %}
	        	</ul>
        	{% endif %}
		</section>
		<article>
		<div id="typewriter">
			{% block content %}
			{% endblock %}
		</div>
		
    		
		</article>
		<section id="right-sidebar">
			<div>Upcoming feature - STAMPS you can earn:</div>
			<img src="/static/images/stamp-3.png">
			<img src="/static/images/frog-64.png">
		</section>
	
		
		 <footer>
	        <div id="footer" class="container">
	     
	        	{% block footer %}{% endblock %}
	           	<script>
					(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
				  	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				  	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
				  	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
				  	ga('create', 'UA-43478549-1', 'my3pages.appspot.com');
				  	ga('send', 'pageview');
				</script>
	        </div><!-- /footer -->
    	</footer>
		
	    <script src="/static/js/jquery.wordcount.js"></script>
	    <script src=/static/js/display_date.js></script>
			
	</body>
</html>