{% extends "base.html" %}

{% block content %}
	<h2>Feedback And Ways To Contact Me</h2>
	<p>I'm always eager to get as much feedback and suggestions as I can.</p>
	
	<p>If you have any questions or comments or suggestions on how to improve this web site, feel free to <a href="mailto:vincent@infration.com">email</a> me on vincent@infration.com,</p>
	
	<p>else you're welcome to check out my blog on <a href="http://fishfilosophy.blogspot.com">http://fishfilosophy.blogspot.com</a></p>
	
	<b>Thanks for using the site!</b>
{% endblock %}