{% extends "base.html" %}

{% block content %}
	<h2>About My 3 Pages</h2>
	<p>My 3 Pages is a tool to help you get rid of writer's block.  Inspired by "morning pages" in Julia Cameron's book, "The Artist's Way",
	this web site allows you to create daily entries of 3 pages (750 words) on any topic you want.  As you type it will track your progress.</p>
	
	<p>Don't worry if spelling, grammar or punctuation is incorrect because we won't be checking.  These are your own private thoughts so it doesn't
	need to make sense.  The idea is that once you get in to the habit of performing a brain dump of whatever is on your mind daily, you'll start 
	unblocking that creative part of you.
	
	That's how I got to creating this web site.</p>
	
	<p>So give it a go.  If you are pushed to write 3 pages, try the inspiration link for ideas.  Happy artist unblocking!
	</p>
{% endblock %}