{% extends "base.html" %}

{% block content %}
	<div>Ever had writer's block?  Did you have something you wanted to say, but couldn't express it?  Well this is a tool to help you.  Taken from "morning pages", I learnt that if you jot down your thoughts every day, you can unlock the creativity within you.  Why 3 pages?  Well similarly to an exercise, the first page is usually a warm up.  It gets rid of all random thoughts and just performs a tuning of what you can actually write.  If you are pushed to write 3 pages, try the inspiration button on the right to help with ideas.  Happy artist unblocking!</div>
{% endblock %}