{% extends "base.html" %}

{% block content %}
	<h2>Welcome to My 3 Pages - Morning Pages on the Web</h2>
	
	<p>Unblock your creativity by typing 3 pages every day on any topic you want.  Inspired by Julia Cameron's Morning Pages in her book, "The Artist's Way", the goal is simple.</p>
	<p>Write 3 pages on anything you want.  It doesn't need to make sense or have correct spelling.  Just do a brain dump of whatever is on your mind<p>
	
	<p>To help motivate you there is a word counter and a progress bar to show you how you're tracking.</p>
	 
	<p>All you need is a Google account to login.  So give it a go and happy creative unblocking!</p>
	
	<!-- form action="{{ url_for('write_entry') }}" method="get" accept-charset="utf-8"-->
	<input id="start_button" type="submit" value ="start" onclick="document.getElementById('frm1').submit();"/>
	
			
	
{% endblock %}