{% extends "base.html" %}

{% block content %}
	<h2>Welcome to My 3 Pages - Morning Pages on the Web</h2>
	
	<p>Help unblock your creativity by typing 3 pages every day on any topic you want.Grammar, punctuation and spelling don't matter.  You don't even have to make sense.</p>  
	
	<p>The only goal is to type 3 pages (or 750 words) on anything you want.  A counter and percentage bar tracks your progress motivating you to finish.</p>
	 
	<p>All you need is a Google account to login.  So give it a go and happy creative unblocking!</p>
	
	<form action="/write" method="get">
		<input id="start_button" type="submit" value ="start"/>
	</form>
			
	
{% endblock %}