{% extends "base.html" %}

{% block content %}
	<h2>Stuck?  Here are some ideas to help you get started:</h2>
		<div>
		<li>Write in detail every sound, sight, smell, touch, taste, sensation etc that you are experiencing at the moment.
		<li>Start with "I don't know what to write."  Then see how many times you can repeat that sentence before you do think of something.
		<li>Write as if you're another person - your partner, colleague, mother, father, postman, that annoying bird that keeps tweeting.
		<li>Where would you rather be?
		<li>I can't believe that happened.
		<li>Your friend's Facebook status.
		<li>What's on the news today?
		<li>Anything that comes in to your head.  How fast can you type out your thoughts?
		</div>
{% endblock %}
