{% extends "base.html" %}

{% block content %}
	<h2>Feeling nostalgic?  Here is a list of previous entries you've written:</h2>
	<table>
		<thead>
			<tr>
				<th>Date Entered</th>
				<th>Begins with ...</th>
			</tr>
		</thead>
		<tbody>
			{% for entry in entries %}
			{% set entry_id = entry.key.id() %}
			<tr>
				<td><a href="/previous_entries/{{ entry_id }}">{{ entry.date_entered }}</a></td>
				{% set short_entry = entry.daily_entry[:75] %}
				<td>{{ short_entry }}</td>
			</tr>
			{% else %}
			<tr>
				<td>No entries yet</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}