{% extends "base.html" %}

{% block content %}
	<h2>Welcome!  Please begin typing.</span></h2>
	
	<h3>This is the entry for: {{ entry.date_entered }}</h3>
	
	<form action="{{ url_for('write_entry') }}" method="post" accept-charset="utf-8">
		{{ form.csrf_token }}
		
		
	
		{{ form.daily_entry|safe }}
	
		<p>You've written <span id="finalcount" class="stats">0</span> words so far out of 3 pages (750 words).</p>
		
	
		<div id="progressbar"><span class="progress-label">% complete</span></div>
		
		<!--p>Date:<input type='text' id="todays_date" name="date_entered"/></input></p>
		-->
		Date: {{ form.date_entered }}
		
		<!-- input type=text id="todays_date" name="date_entered">{{ form.date_entered }} -->
		<p>
			<input id="save_button" type="submit" value ="save"/>
		</p>
	</form>
	<script src=/static/js/display_date.js></script>
	
{% endblock %}