/* {
	border:1px solid red;
}
*/

body {
	padding: 0;
	margin: 0;
	height: 100%;
	font-family: "American Typewriter", "Helvetica";
}

article {
	padding: 0em 9em;
	margin:0;
}

.logo {
	
	font-size: 2em;
	font-weight: 400;
	
}

#menu ul {
	margin: 0;
	padding: 0;
	whitespace: nowrap;
}

#menu li {
	margin: 0;
	padding: 0;
}


#menu a {
	margin: 0;
	padding: 0;
}

#menu ul{
	margin: 0;
	padding: 0;
	list-style: none outside;	
}

#menu a{
	text-decoration: none;
}

#menu {
	padding: 1em 9em;
	background-color: #000000;
	height: 2em;
	line-height: 2em;
}

#menu ul {
		margin: 0;
		padding: 0;
		white-space:nowrap;
}
#menu ul li{
	font-size: 1em;
	display:inline-block;
	margin-right: 1em;
}

#menu li a{
	margin-right:1em;
	background: transparent;
	display: block;
	font-weight: 50;

}

#menu li.open a{
	background: #aaa;
}

#menu li ul {
	position: absolute;
	display: none;
	left:1;
	
}
#menu li li {
	float: none;
	white-space: nowrap;
	zoom: 1; }

#menu li li a {
	zoom: 1;
	_width: 100%; 
}

#menu li:hover ul {
	display:block;
	background: black;
	width: 90%;
	border: 1px solid white;
	color:black;
	padding:0.1em 0.5em;
	
}



#menu a:link, a:visited {
		color: #BDBDBD;
		text-decoration: none;
}
#menu a:hover {
		color: #FFFFFF;
		text-decoration: none;
}



textarea {
	float: none;
	font-size: 1em;
	font-family: "American Typewriter", "Ariel";	width: 100%;
	height: 20em;
	resize: none;
	
}

#finalcount{
		font-family: "American Typewriter", "Helvetica";
}

.stats {
	color: red;
}

header {
	height:1%;
	overflow:hidden;
}
@media only screen and (max-device-width: 480px) {

article{
	padding: 1em 1em;
	font-size: 1.5em;
}
#menu{
	padding: 1em;
	font-size: 1.5em;
	margin:0;
}

	
}








