/* {
	border:1px solid red;
}
*/

body{
	padding: 0;
	margin: 0;
	height: 100%;
	font-family: "American Typewriter", "Courier New";
}


article {
	padding: 0em 9em;
	margin:0;
}

.logo {
	
	font-size: 2em;
	font-weight: 400;
	
}

#menu ul {
	margin: 0;
	padding: 0;
	whitespace: nowrap;
}

#menu li {
	margin: 0;
	padding: 0;
}


#menu a {
	margin: 0;
	padding: 0;
}

#menu ul{
	margin: 0;
	padding: 0;
	list-style: none outside;	
}

#menu a{
	text-decoration: none;
}

#menu {
	padding: 1em 9em;
	background-color: #000000;
	height: 2em;
	line-height: 2em;
}

#menu ul {
		margin: 0;
		padding: 0;
		white-space:nowrap;
}
#menu ul li{
	font-size: 1em;
	display:inline-block;
	margin-right: 1em;
	cursor: pointer;
}

#menu li a{
	margin-right:1em;
	background: transparent;
	display: block;
	font-weight: 50;

}

#menu li.open a{
	background: #aaa;
}

#menu li ul {
	position: absolute;
	display: none;
	left:1;
	
}
#menu li li {
	float: none;
	white-space: nowrap;
	zoom: 1;
}

#menu li li a {
	zoom: 1;
	_width: 100%; 
}

#menu li:hover ul {
	display:block;
	background: black;
	width: auto;
	border: 1px solid white;
	color:black;
	padding:0.1em 0.5em;
	float: none;
		-webkit-box-shadow: 0 0 1px rgba(0,0,0, .75);
	-moz-box-shadow: 0 0 1px rgba(0,0,0, .75);
	box-shadow: 0 0 1px rgba(0,0,0, .75);
}



#menu a:link, a:visited {
	color: #BDBDBD;
	text-decoration: none;
}
#menu a:hover {
	color: #FFFFFF;
	text-decoration: none;
}

#menu li ul li
{
	float:none;
	display: block;
}

td a:link {
	color: black;
}

textarea {
	float: none;
	font-size: 1em;
	font-family: "American Typewriter", "Courier New";
	width: 100%;
	height: 20em;
	resize: none;
	
}

#date_entered {
	font-size: 1em;
	font-family: "American Typewriter", "Courier New";
	width: auto;
	border:0;
	display:none;
}

input#save_button, input#start_button{
	font-family: "American Typewriter", "Courier New";
	cursor:pointer; /*forces the cursor to change to a hand when the button is hovered*/
	padding:0.1em 0.5em; /*add some padding to the inside of the button*/
	background:red; /*the colour of the button*/
	border:1px solid red; /*required or the default border for the browser will appear*/
	/*give the button curved corners, alter the size as required*/
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	/*give the button a drop shadow*/
	-webkit-box-shadow: 0 0 4px rgba(0,0,0, .75);
	-moz-box-shadow: 0 0 4px rgba(0,0,0, .75);
	box-shadow: 0 0 4px rgba(0,0,0, .75);
	/*style the text*/
	color:#f3f3f3;
	font-size:1em;
	
}

input#save_button:hover, input#gobutton:focus{
	color:#f3f3f3;
	/*reduce the drop shadow size to give a pushed button effect*/
	-webkit-box-shadow: 0 0 1px rgba(0,0,0, .75);
	-moz-box-shadow: 0 0 1px rgba(0,0,0, .75);
	box-shadow: 0 0 1px rgba(0,0,0, .75);
}


#finalcount{
		font-family: "American Typewriter", "Courier New";
}

.stats, #flashed_messages, #errors {
	color: red;
}

header {
	height:1%;
	overflow:hidden;
}

.ui-progressbar {
    position: relative;
}
  
.progress-label {
    position: absolute;
    left: 50%;
    font-weight: 600;
    text-shadow: 1px 1px 0 #fff;
    height: 100%;
    font-size: 0.7em;
    font-family: "American Typewriter", "Courier New";
}

#progressbar {
	height: 0.8em;
}

@media only screen and (max-device-width: 480px) {

	article{
		padding: 1em 1em;
		font-size: 1.5em;
	}
	#menu{
		padding: 1em;
		font-size: 1.5em;
		margin:0;
	}
} 








